<!doctype html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
	<%- include("./partials/nav.ejs") %>
	<div class="about content">
		<h2>About Us</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, qui at repudiandae nemo optio sint quia eum amet iusto blanditiis voluptates deleniti praesentium asperiores. Ipsam, aspernatur ex doloribus enim placeat?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, qui at repudiandae nemo optio sint quia eum amet iusto blanditiis voluptates deleniti praesentium asperiores. Ipsam, aspernatur ex doloribus enim placeat?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, qui at repudiandae nemo optio sint quia eum amet iusto blanditiis voluptates deleniti praesentium asperiores. Ipsam, aspernatur ex doloribus enim placeat?</p>
	</div>
	<%- include('./partials/footer.ejs') %>
	</body>
</html>